ALPACA_API_KEY=your_paper_trading_key
ALPACA_SECRET_KEY=your_paper_trading_secret
ALPACA_BASE_URL=https://paper-api.alpaca.markets

TRADING_MODE=paper
MAX_RISK_PER_TRADE=0.01
MAX_PORTFOLIO_DRAWDOWN=0.10
